/iecisa-scanweb-plugin/.project
/iecisa-scanweb-plugin/.settings
/iecisa-scanweb-plugin/.classpath
/api/.settings
/api/.classpath
/api/.project
/caib-scanweb-plugin/.classpath
/caib-scanweb-plugin/.project
/caib-scanweb-plugin/.settings
/dynamicwebtwain/.project
/dynamicwebtwain/.settings
/dynamicwebtwain/.classpath
/scanweb-tester/scanweb-ejb/.project
/scanweb-tester/scanweb-ejb/.settings
/scanweb-tester/scanweb-ejb/.classpath
/scanweb-tester/scanweb-ear/.project
/scanweb-tester/scanweb-ear/.settings
/scanweb-tester/scanweb-plugins/.project
/scanweb-tester/scanweb-plugins/.settings
/scanweb-tester/scanweb-war/.project
/scanweb-tester/scanweb-war/.settings
/scanweb-tester/scanweb-war/.classpath
/api/target
/dynamicwebtwain/target
/caib-scanweb-plugin/target
/scanweb-tester/scanweb-ejb/target
/iecisa-scanweb-plugin/target
/scanweb-tester/scanweb-plugins/target
/scanweb-tester/scanweb-war/target
/scanweb-tester/scanweb-ear/target
/filescan-plugin/.project
/filescan-plugin/.settings
/filescan-plugin/target
/filescan-plugin/.classpath
/iecisa-scan-applet/.settings
/iecisa-scan-applet/.classpath
/iecisa-scan-applet/.gitignore
/iecisa-scan-applet/.project
/iecisa-scan-applet/afirma.keystore_old
/digitalib-plugin/.classpath
/digitalib-plugin/.gitignore
/digitalib-plugin/.project
/digitalib-plugin/.settings/org.eclipse.core.resources.prefs
/digitalib-plugin/.settings/org.eclipse.jdt.core.prefs
/digitalib-plugin/.settings/org.eclipse.m2e.core.prefs
/digitalibmassive-plugin/.classpath
/dynamicwebtwain-plugin/.project
/dynamicwebtwain-plugin/.settings
/dynamicwebtwain-plugin/target
/dynamicwebtwain-plugin/.classpath
/digitalibmassive-plugin/.project
/compile.bat
/digitalibmassive-plugin/.settings
/digitalibmassive-plugin/target
