
# -------------------------------------
#  Es pot modificar l'obtenció dels plugins, i llegir els plugins de BBDD o de System-Properties.
#  Anau a la classe org.fundaciobit.plugins.scanweb.tester.ejb.utils.ScanWebPluginManager
#  i modificau el mètode getAllPlugins()
# ------------------------------------- 

# Llistat de identificadors de plugins disponibles
org.fundaciobit.scanweb.tester.scanwebplugins=1,2,3,6

#---------------------------------------------------------
#--------------------- 1 - IECISA PLUGIN -----------------
#--------------------------------------------------------- 

org.fundaciobit.scanweb.tester.scanwebplugins.1.class=org.fundaciobit.plugins.scanweb.iecisa.IECISAScanWebPlugin
org.fundaciobit.scanweb.tester.scanwebplugins.1.nom=Escaneig IECISA Simple
org.fundaciobit.scanweb.tester.scanwebplugins.1.desc=Escaneig IECISA Simple
# PROPERTIES
org.fundaciobit.scanweb.tester.scanwebplugins.1.pluginsib.scanweb.iecisa.debug=false
org.fundaciobit.scanweb.tester.scanwebplugins.1.pluginsib.scanweb.iecisa.forcejnlp=false
org.fundaciobit.scanweb.tester.scanwebplugins.1.pluginsib.scanweb.iecisa.forcesign=true
org.fundaciobit.scanweb.tester.scanwebplugins.1.pluginsib.scanweb.iecisa.closewindowwhenfinish=true


#----------------------------------------------
#----------------- 2 - FILE PLUGIN ------------
#----------------------------------------------
org.fundaciobit.scanweb.tester.scanwebplugins.2.class=org.fundaciobit.pluginsib.scanweb.file.FileScanWebPlugin
org.fundaciobit.scanweb.tester.scanwebplugins.2.nom=Fitxer ScanWeb
org.fundaciobit.scanweb.tester.scanwebplugins.2.desc=Fitxer ScanWeb


#---------------------------------------------------------
#----------------- 3 - DYNAMICWEBTWAIN PLUGIN ------------
#--------------------------------------------------------- 

org.fundaciobit.scanweb.tester.scanwebplugins.3.class=es.limit.pluginsib.scanweb.dynamicwebtwain.DynamicWebTwainScanWebPlugin
org.fundaciobit.scanweb.tester.scanwebplugins.3.nom=DynamicWebTwain
org.fundaciobit.scanweb.tester.scanwebplugins.3.desc=DynamicWebTwain
# PROPERTIES
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.debug=true
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.trial=false
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.productkey=f0068NQAAAGB8SvueIMDZMV0R6x2A7RfG98Bj2d+Fkk918LKZq348pC3ve8DUvh+q5IWNEBrAQrP806kvYZ4G7HR/tEwG4Xs=

# Podeu trobar el contingut d'aquest directori a https://github.com/GovernIB/pluginsib-scanweb/tree/pluginsib-scanweb-4.0/dynamicwebtwain/scanner_resources
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.resourcespath=D:\\dades\\dades\\CarpetesPersonals\\ProgramacioPortaFIB3\\pluginsib-scanweb-4.0\\dynamicwebtwain-plugin\\scanner_resources
# D:/dades/dades/CarpetesPersonals/ProgramacioPortaFIB2/pluginsib-scanweb/dynamicwebtwain/scanner_resources

# Optional
# Versió: Per defecte 12.2. Possibles valors 14.3.1,13.2,12.2 o 10.2
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.version=14.3.1
# serveix per amagar la selecció del tipus documental
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.hidetipusdocumental=false
# serveix per amagar la selecció de l'idioma del document.
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.hideidioma=false

# Opcional
# Si val 0: Funcionament sense definir Tamany de Pàgina. Valor per defecte
# Si val 1 quan s'espitja "Escanejar" s'envia internament tamany de pàgina A4
# Si val 2: Mostrar un despegable amb opcions A4, Letter i Legal i enviar
# aquesta informacio a l'escaner
org.fundaciobit.scanweb.tester.scanwebplugins.3.pluginsib.scanweb.dynamicwebtwain.pagesizepolicy=2


#---------------------------------------------------
#----------------- 4 - DIGITALIB PLUGIN ------------
#---------------------------------------------------
org.fundaciobit.scanweb.tester.scanwebplugins.4.class=org.fundaciobit.pluginsib.scanweb.digitalib.DigitalIBScanWebPlugin
org.fundaciobit.scanweb.tester.scanwebplugins.4.nom=DigitalIB
org.fundaciobit.scanweb.tester.scanwebplugins.4.desc=DigitalIB
# PROPERTIES
org.fundaciobit.scanweb.tester.scanwebplugins.4.pluginsib.scanweb.digitalib.url=http://digitalib.fundaciobit.org/digitalib/common/rest/apiscanwebsimple/v1/
org.fundaciobit.scanweb.tester.scanwebplugins.4.pluginsib.scanweb.digitalib.username=username
org.fundaciobit.scanweb.tester.scanwebplugins.4.pluginsib.scanweb.digitalib.password=password

#Opcional

# Si no es defineix el profile, llavors se li mostrarà una pantalla a l'usuari amb tots els
# Perfils disponibles per aquell usuari aplicació
#org.fundaciobit.scanweb.tester.scanwebplugins.4.pluginsib.scanweb.digitalib.profile=PERFIL_SCAN_JNLP_OR_FILE


#---------------------------------------------------
#---------- 5 - DIGITALIB MASSIVE PLUGIN -----------
#---------------------------------------------------

org.fundaciobit.scanweb.tester.scanwebplugins.5.class=org.fundaciobit.pluginsib.scanweb.digitalibmassive.DigitalIBMassiveScanWebPlugin
org.fundaciobit.scanweb.tester.scanwebplugins.5.nom=DigitalIB Massive
org.fundaciobit.scanweb.tester.scanwebplugins.5.desc=DigitalIB Massive
# PROPERTIES
org.fundaciobit.scanweb.tester.scanwebplugins.5.pluginsib.scanweb.digitalibmassive.url=http://anadal:8080/digitalibapi/interna/secure/apimassivescanwebsimple/v1/
org.fundaciobit.scanweb.tester.scanwebplugins.5.pluginsib.scanweb.digitalibmassive.username=testapp
org.fundaciobit.scanweb.tester.scanwebplugins.5.pluginsib.scanweb.digitalibmassive.password=testapp


# Si no es defineix el profile, llavors se li mostrarà una pantalla a l'usuari amb tots els
# Perfils disponibles per aquell usuari aplicació
#org.fundaciobit.scanweb.tester.scanwebplugins.5.pluginsib.scanweb.digitalibmassive.profile=PERFIL_SCAN_JNLP_OR_FILE


#---------------------------------------------------
#---------- 6 - DIGITALIB MASSIVE 2 PLUGIN ---------
#---------------------------------------------------

org.fundaciobit.scanweb.tester.scanwebplugins.6.class=org.fundaciobit.pluginsib.scanweb.digitalibmassive.DigitalIBMassive2ScanWebPlugin
org.fundaciobit.scanweb.tester.scanwebplugins.6.nom=DigitalIB 2.0 Massive
org.fundaciobit.scanweb.tester.scanwebplugins.6.desc=DigitalIB 2.0 Massive
# PROPERTIES
org.fundaciobit.scanweb.tester.scanwebplugins.6.pluginsib.scanweb.digitalibmassive.url=http://anadal:8080/digitalibapi/interna
org.fundaciobit.scanweb.tester.scanwebplugins.6.pluginsib.scanweb.digitalibmassive.username=testapp
org.fundaciobit.scanweb.tester.scanwebplugins.6.pluginsib.scanweb.digitalibmassive.password=testapp


# Si no es defineix el profile, llavors se li mostrarà una pantalla a l'usuari amb tots els
# Perfils disponibles per aquell usuari aplicació
#org.fundaciobit.scanweb.tester.scanwebplugins.6.pluginsib.scanweb.digitalibmassive.profile=PERFIL_SCAN_JNLP_OR_FILE






